<h1>{{ blog_post.title }}</h1>
<p>{{ blog_post.content }}</p>

<h2>Comments</h2>
<ul>
    {% for comment in blog_post.comments.all %}
        <li>
            <strong>{{ comment.author }}:</strong> {{ comment.text }}
            {% if comment.author == user %}
                <a href="{% url 'comment-update' comment.pk %}">Edit</a>
                <a href="{% url 'comment-delete' comment.pk %}">Delete</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<h3>Add a Comment</h3>
<form method="post" action="{% url 'comment-create' blog_post.pk %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>


